*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:1170px;
    margin:auto;
}
.container2{
    width:1140px;
    height: 190px;
    margin: auto;
    text-align: center!important;  

}
.space{
    padding:60px 0;

}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
p{
    font-size: 18px;
}
h3{
    font-size: 27px;
    margin-bottom: 20px;
}
h4{
    font-size: 20px;
    margin-bottom: 10px;
}
h1{
    font-size:60px;
    margin-bottom: 30px;
}
h2{
    font-size: 40px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color:rgb(27, 26, 26);  
}
.row{
    grid-template-columns: 1fr 3fr;
    display: grid;
}
.coln-2{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.big-image{
    text-align: center;
}
.big-image img{
    width:400px;
    height:400px;
}
.small-img img{
    width:150px;
    height:150px;
}
.product-desc-border{
    padding :15px 0 20px;
}
.product-size{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.input-group input{
    width:30%;
}
.input-group{
    width:30%;
    padding-bottom:20px;
    text-align: center;
}
.product-buttons button{
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: red;
    color: white;
}
.border-product{
    padding:10px 0 15px;
}
.media-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}